<div class="col-xs-12  modal fade nxHeight well" id="myModal" role="dialog" [ngClass]="{'in': visibleAnimate}" [ngStyle]="{'display': visible ? 'block' : 'none', 'opacity': visibleAnimate ? 1 : 0}">
    <div class="modal-dialog modal-xs modalscreen">
        <div class="modal-content nxHeight">
            <div class="modal-body nxHeight">
                <form class="col-xs-12" (ngSubmit)="checkPassword(model.name,$event)" #heroForm="ngForm">
                    <div class="form-group ">
                        <div class="text-center">
                            <label for="name">Enter Password</label>
                        </div>
                        <div>
                            <input type="text" (keyup)="showErrorMsg=false" class="form-control" id="name" required [(ngModel)]="model.name" name="name" #name="ngModel">
                            <div [hidden]="name.valid || name.pristine" class="alert alert-danger">
                                Name is required
                            </div>
                        </div>

                    </div>
                    <div class="text-center">
                        <button type="submit" class="btn btn-success" [disabled]="!heroForm.form.valid">Submit</button>
                    </div>
                    <div *ngIf="showErrorMsg" class="text-center errormsg">Password Not Correct !</div>
                </form>
            </div>
        </div>
    </div>
</div>