@import '../../../variables';
@import '../../../functions';
:host {
    width: 100%;
    display: block;
    left: 0;
    font-family: 'Lato', sans-serif !important;
}

li {
    text-align: justify;
}

mat-card {
    font-family: 'Lato', sans-serif !important;
}

mat-expansion-panel {
    font-family: 'Lato', sans-serif !important;
    
    box-shadow: none !important;
}

mat-expansion-panel-header {
    border-bottom: 1px solid #e3e3e3;
    font-family: 'Lato', sans-serif !important;
}

.mat-expansion-panel{
    background: $white  ;  
}
    .mat-expansion-panel-content {
    background: #f5f5f5 !important;        
    font-family: 'Lato', sans-serif !important;
}

.mat-expansion-panel-body {
    margin: 10px 0 !important;
    font-family: 'Lato', sans-serif !important;
    padding: 0 !important;
}

.mat-expansion-panel-header{
    background: $lightblack !important;
}

.mat-expansion-panel-header-title {
    color: $white;
    @include font-size-mixin(16px);
    font-family: 'Lato', sans-serif !important;
    width: 100% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-expansion-panel-header-description {
    color: $white;
    opacity: .6;
    @include font-size-mixin(14px);
    width: 100% !important;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.mat-expansion-indicator::after {
    color: white !important;
}

.row {
    margin: 10px 0;
    text-align: justify;
}