<div class="boxsizing">
    <div class="">
        <mat-card class="text-center nx-title">
            Profile
        </mat-card>
    </div>
    <div class="">
        <mat-expansion-panel class="">
            <mat-expansion-panel-header>
                <div class="col-md-5">
                    <mat-panel-title>
                        Nikhil Shah
                    </mat-panel-title>
                </div>
                <div class="col-md-5">
                    <mat-panel-description>
                        I have been involved in...
                    </mat-panel-description>
                </div>
            </mat-expansion-panel-header>
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <ul>
                        <li>7+ years of hands on experience in dynamic and responsive UI design development of web applications using Angular-5.x/4.x/2.x/1.x, Javascript, HTML5, CSS3, Bootstrap, flex etc.</li>
                        <li>Also involved in testing of Angular applications using Jasmine and Karma.</li>
                        <li>Hands on experience on Rxjs, ECMAScript, Redux, Typescript, Systemjs, Angular-CLI, Webpack, Gulp, Nodejs, NPM etc...</li>
                    </ul>
                </div>
            </div>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel class="">
            <mat-expansion-panel-header>
                <div class="col-md-5">
                    <mat-panel-title>
                        Front-End Technologies
                    </mat-panel-title>
                </div>
                <div class="col-md-5">
                    <mat-panel-description>
                        been working with following front-end technologies...
                    </mat-panel-description>
                </div>
            </mat-expansion-panel-header>
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="col-sm-5 col-xs-12 row">Learning Platform</div>
                    <div class="col-sm-5 col-xs-12 row"> Node.js</div>
                    <div class="col-sm-5 col-xs-12 row">Angular2.0/4.0/5.0</div>
                    <div class="col-sm-5 col-xs-12 row">Angular-5/4/2, Router, Angular-cli, Typescript, Rxjs, angular2-material, ng2-bootstrap etc</div>
                    <div class="col-sm-5 col-xs-12 row">Angular1.x and Modules</div>
                    <div class="col-sm-5 col-xs-12 row">Angular1.x, ui-Router, ng-Router, ui-grid, ui-sortable, ui-bootstrap, angular-upload and many more</div>
                    <div class="col-sm-5 col-xs-12 row">Scripts</div>
                    <div class="col-sm-5 col-xs-12 row">JavaScript, ECMA-6, JQuery, HTML5, CSS3, SCSS, Bootstrap, toastrJS, LoDashJS, RequireJs, AlaSQL, Google-Map etc</div>
                    <div class="col-sm-5 col-xs-12 row">Testing Platform</div>
                    <div class="col-sm-5 col-xs-12 row">Jasmine, Karma</div>
                    <div class="col-sm-5 col-xs-12 row">Build system</div>
                    <div class="col-sm-5 col-xs-12 row">Gulp</div>
                </div>
            </div>
        </mat-expansion-panel>
        <br>
        <mat-expansion-panel>
            <mat-expansion-panel-header>
                <div class="col-md-5">
                    <mat-panel-title>
                        Back-End Technologies
                    </mat-panel-title>
                </div>
                <div class="col-md-5">
                    <mat-panel-description>
                        been working with following bank-end technologies...
                    </mat-panel-description>
                </div>
            </mat-expansion-panel-header>
            <div class="col-xs-12">
                <div class="col-xs-12">
                    <div class="col-sm-5 col-xs-12 row">Technology and Tools</div>
                    <div class="col-sm-5 col-xs-12 row"> ASP.NET Web API, Asp.Net MVC-5, CSharp.NET, LINQ, SignalR, ADO.NET, EntityFramework-6+, SSRS</div>
                    <div class="col-sm-5 col-xs-12 row">Server</div>
                    <div class="col-sm-5 col-xs-12 row">IIS</div>
                    <div class="col-sm-5 col-xs-12 row">Source Version Controls</div>
                    <div class="col-sm-5 col-xs-12 row">TFS, SVN, GIT</div>
                    <div class="col-sm-5 col-xs-12 row">Database</div>
                    <div class="col-sm-5 col-xs-12 row">SQL Server</div>
                </div>
            </div>

        </mat-expansion-panel>
        <br>
    </div>
</div>