@import '../../../variables';
@import '../../../functions';
:host {
    display: block;
    width: 100%;
    height: auto;
    overflow: hidden;
}

.nx-sub-title {
    @include color-mixin($white);
    @include font-size-mixin(16px);
    @include font-family-mixin('Asap Condensed');
    @include color-mixin($gray);
}

.nx-footer {
    height: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    color: $white;
    @include font-family-mixin('Asap Condensed');
    @include font-size-mixin(14px);
    .nx-footer-container {
        display: flex;
        justify-content: space-around;
        height: calc(100% - (10px + 40px));
        align-items: center;
        .nx-footer-square {
            display: flex;
            flex-direction: column;
            height: 100px;
            align-items: center;
            .nx-link a {
                @include color-mixin($gray);
            }
        }
    }
    .nx-copy-right {
        @include color-mixin($gray);
    }
}

@media only screen and (max-device-width: 767px) {
    /* Styles */
    .nx-footer{
        @include font-size-mixin(10px); 
    }
}