<div class="nx-footer navbar navbar-inverse">
    <div class="col-sm-6 nx-footer-container">
        <div class="nx-footer-square col-sm-3">
            <h5 class="nx-sub-title"> Languages</h5>
            <div class="nx-link"><a href="javscript:void(0)">
                 &nbsp;Hindi
            </a></div>
            <div class="nx-link"><a href="javscript:void(0)">
                 &nbsp;Gujarti
            </a></div>
            <div class="nx-link"><a href="javscript:void(0)">
                 &nbsp;English
            </a></div>
        </div>
        <div class="nx-footer-square col-sm-3">
            <h5 class="nx-sub-title">Fine me here</h5>
            <div class="nx-link">
                <a href="https://stackoverflow.com/users/3751711/micronyks">
                    <i class="fa fa-stack-overflow" aria-hidden="true"></i> &nbsp;Stackoverflow
                </a>
            </div>
            <div class="nx-link">
                <a href="https://github.com/micronyks">
                    <i class="fa fa-github" aria-hidden="true"></i> &nbsp;Github
                </a>
            </div>
            <div class="nx-link">
                <a href="https://www.linkedin.com/in/nikhil-shah-21a53665/">
                    <i class="fa fa-linkedin-square" aria-hidden="true"></i> &nbsp;LinkedIn
                </a>
            </div>
        </div>
    </div>
    <div class="col-xs-12 text-center nx-copy-right">Powered by VNS. An Angular4.x Product. Copy right @2017.</div>
</div>