<mat-sidenav-container class="nx-sidenav-container">


    <mat-sidenav #sidenav mode="side" position="start" class="nx-sidenav-left">
        <div class="container-fluid boxsizing">
            <div class="row">
                <div class="col-12">
                    <div class="text-right"><a routerLink="/home" routerLinkActive="true"><span><i class="fa fa-home" aria-hidden="true"></i></span></a></div>
                    <div class="text-center">
                        <!-- <img class="nx-author-img" src="./assets/Photos/Nikhil_Photo.jpg"/> -->
                        <img class="nx-author-img" src="https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg" />
                    </div>
                    <div class="nx-title text-center">
                        Nikhil Shah
                    </div>

                    <div class="text-center nx-sub-title">About me</div>
                    <ul>
                        <li class="nx-md-text">Contributor in Stackoverflow</li>
                        <li class="nx-md-text">One of top rankers for Angular community</li>
                        <li class="nx-md-text"><a href="https://stackoverflow.com/users/3751711/micronyks">StackOverflow Profile</a></li>
                        <li class="nx-md-text"><a href="https://github.com/micronyks">GitHub Profile</a></li>
                        <li class="nx-md-text"><a href="https://www.linkedin.com/in/nikhil-shah-21a53665/">LinkedIn Profile</a></li>
                        <li class="nx-md-text"><a routerLink="/resume" routerLinkActive="active">Resume</a></li>

                    </ul>
                </div>
            </div>
        </div>
    </mat-sidenav>



    <div class="container-fluid boxsizing">
        <div class="row">
            <div class="col-12 text-center">
                <button type="button" md-button (click)="sidenav.toggle()">
            Open sidenav
            </button>
            </div>
            <div class="col-12">
                <header>
                    <div class="header-banner">
                        <a href="/" class="logo"></a>

                        <h1>Visit Finland</h1>

                    </div>
                    <div class="clear"></div>
                    <nav #nav>
                        <ul>
                            <li><a href="/archive">Archive</a></li>
                            <li><a href="/events">Events</a></li>
                            <li><a href="/contact">Contact</a></li>
                        </ul>
                    </nav>
                </header>




            </div>

            <div class="col-12">
                <router-outlet></router-outlet>
            </div>

        </div>
    </div>



</mat-sidenav-container>