<div class="loaderContainer" *ngIf="sharedService.loader">
    <div class="loader-screen">
        <div class="col-xs-12  col-md-2 blinking loader-img">
        </div>
    </div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="col-xs-1 nx-bars" [ngClass]="{'nx-roate-logo':sidenav.opened,'nx-deroate-logo':!sidenav.opened}"   (click)="sidenav.toggle()">
            <i class="fa fa-angle-double-right" aria-hidden="true"></i>
        </div>
        <div class="navbar-header">
            <!-- <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button> -->
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

                <li>
                    <a routerLink="/home" routerLinkActive="active" class="nav-item nav-link">VNS</a>
                </li>
                <!-- <li>
                    <a routerLink="/resume" routerLinkActive="active" class="nav-item nav-link">Resume</a>
                </li> -->
                <li>
                    <a routerLink="/contact" routerLinkActive="active" class="nav-item nav-link">Contact</a>
                </li>
                <li>
                    <a routerLink="/about" routerLinkActive="active" class="nav-item nav-link">About</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right nx-right-navbar">
                <li>
                    <a href="https://stackoverflow.com/users/3751711/micronyks">
                        <i class="fa fa-stack-overflow" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/nikhil-shah-live/">
                        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
                    </a>
                </li>
                <li>
                    <a href="https://github.com/micronyks">
                        <i class="fa fa-github" aria-hidden="true"></i>
                    </a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>




<mat-sidenav-container class="nx-sidenav-container">
    <mat-sidenav #sidenav mode="{{windowWidth>767?'side':'over'}}" position="start" class="nx-sidenav-left">
        <div class="container-fluid boxsizing">
                <div class="text-center sidebar-logo">
                    <a routerLink="/home" (click)="sidenav.toggle()" routerLinkActive="true">
                        <span class="sidebar-logo">Nikhil Shah</span>
                    </a>
                </div>
                <div class="author-img">
                    <div class="nx-author-img">
                    </div>
                </div>
                <!-- <div class="nx-title text-center">
                    Nikhil Shah
                </div> -->

                <ul class="author-information">
                    <div class="col-xs-12">
                        <li class="description">Contributor in Stackoverflow</li>
                        <li class="description">One of top rankers in Stackoverflow for Angular community</li>
                        <li class="nx-md-text">
                            <a href="https://stackoverflow.com/users/3751711/micronyks"> <i class="fa fa-stack-overflow" aria-hidden="true"></i> &nbsp;&nbsp;StackOverflow Profile</a>
                        </li>
                        <li class="nx-md-text">
                            <a href="https://github.com/micronyks"><i class="fa fa-github" aria-hidden="true"></i> &nbsp;&nbsp;GitHub Profile</a>
                        </li>
                        <li class="nx-md-text">
                            <a href="https://www.linkedin.com/in/nikhil-shah-live/"><i class="fa fa-linkedin-square" aria-hidden="true"></i> &nbsp;&nbsp;LinkedIn Profile</a>
                        </li>
                        <!-- <li class="nx-md-text"><a routerLink="/resume" (click)="sidenav.toggle()" routerLinkActive="active">Resume</a></li> -->
                        <li class="nx-md-text">
                            <a routerLink="/contact" (click)="sidenav.toggle()" routerLinkActive="active"><i class="fa fa-phone" aria-hidden="true"></i> &nbsp;&nbsp;Contact</a>
                        </li>
                        <li class="nx-md-text">
                            <a routerLink="/about" (click)="sidenav.toggle()" routerLinkActive="active"><i class="fa fa-file-text-o" aria-hidden="true"></i> &nbsp;&nbsp;About</a>
                        </li>
                    </div>
                </ul>
        </div>
    </mat-sidenav>



    <div class="MyAppContainer">
        <div>
            <router-outlet></router-outlet>
        </div>
        <div>
            <nx-footer></nx-footer>
        </div>
    </div>



</mat-sidenav-container>