/* Colors */

$blue:blue;
$light-blue:#4283f4;
$gray:#888888;
$orange:#FF5733;
$green:green;
$black:black;
$darkred:rgba(220, 53, 69, 1);

/* font size */

$font-xs:12px;
$font-sm:14px;
$font-md:16px;
$font-lg:25px;
$font-xl:30px;
$font-title:28px;
$font-sub-title:22px;