/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables';
@import './functions';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.nxHeight {
    height: 100%;
}

//icons
.fa {
    font-size: $font-sm !important;
}

.boxsizing {
    box-sizing: border-box;
    z-index: 999;
}

ul {
    word-wrap: break-word;
}

.nx-title {
    color: $darkred;
    font-weight: bold;
    @include font-size-mixin(25px);
}

.nx-sub-title {
    font-size: $font-md;
    color: $black;
    font-weight: bold;
    margin: 10px 0;
}