/* You can add global styles to this file, and also import other style files */

@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import './variables';
@import './functions';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    font-family: 'Lato', sans-serif !important;
}

.nxHeight {
    height: 100%;
}

//icons
.fa {
    font-size: $font-sm !important;
}

.boxsizing {
    box-sizing: border-box;
    z-index: 999;
}

ul {
    word-wrap: break-word;
}

.nx-title {
    color: $darkred !important;
    font-weight: bold;
    margin: 10px 0;
    @include font-size-mixin(25px);
}

.nx-sub-title {
    font-size: $font-md;
    color: $black;
    font-weight: bold;
    margin: 10px 0;
}





//loader
.loaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
    border: none;
}

a.active {
    border: none;
    text-decoration: none;
}

a:focus {
    outline: 0;
    text-decoration: none;
}

.loader-screen{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    height: 300px;
    width:300px;
    .loader-img{
        height: 100%;
        width: 100%;
        background-size: contain;
        background-image: url('https://cdn.worldvectorlogo.com/logos/angular-icon-1.svg');
        background-repeat: no-repeat;
    }
}


.loader {
    /*border: 16px solid #f3f3f3;*/
    border: 16px solid $gray;
    /* Light grey */
    border-top: 16px solid $darkred;
    border-bottom: 16px solid $darkred;
    /* Blue */
    border-radius: 50%;
    width: 80px;
    height: 80px;
    animation: spin 2s linear infinite;
    z-index: 999;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.blinking {
    animation: blink 1s;    
    -webkit-animation: blink 1s;
    -webkit-animation-iteration-count: infinite;
    -moz-animation: blink 1s;
    -moz-animation-iteration-count: infinite;
    -o-animation: blink 1s;
    -o-animation-iteration-count: infinite;
}

@keyframes  blink{
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }  
}

@-webkit-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}
@-moz-keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}



@media only screen and (max-device-width: 767px) {
    .loader-screen{
        height: 200px; 
        width:200px;
    }
}


