<div class="resume-container container-fluid">
    <div class="row">
        <div class="col-12">
            <div class="row">
                <h2 class="curriculum-vitae col-xs-12 col-md-6 text-right" ng-class="">Curriculum Vitae</h2>
                <h2 class="resume-name col-md-6 text-left">Nikhil Shah</h2>
                <h6 class="resume-address text-center col-md-12">685, 4th Main, 12th cross, BEML Layout, Thubrahalli, Bangalore-560066</h6>
            </div>
        </div>
        <div class="col-12">
            <div class="row mobile-section">
                <div class="col-md-5 text-right resume-mobile"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;<span>+91 9739372673</span></div>
                <div class="col-md-2 text-center resume-mobile"><i class="fa fa-mobile" aria-hidden="true"></i>&nbsp;<span>+91 8618200639</span></div>
                <div class="col-md-5 text-left resume-email"><i class="fa fa-envelope-o" aria-hidden="true"></i> &nbsp;<a href="">nikhilshahlive@gmail.com</a></div>
            </div>
            <hr>
        </div>

        <div class="container">
            <div class="panel">

                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <ul>
                            <li>6.8 years of total experience.</li>
                            <li> 4+ years of hands on experience in dynamic and responsive UI design development of web applications using Angular-4/2/1, Javascript, HTML5, CSS3, Bootstrap, flex etc.</li>
                            <li>Also involved in testing of Angular applications using Jasmine and Karma.</li>
                            <li> Hands on experience on Rxjs, ECMAScript, Redux, Typescript, Systemjs, Angular-CLI, Webpack, Gulp, Nodejs, NPM etc.</li>
                        </ul>

                    </div>
                </div>
            </div>


            <div class="panel">
                <div class="col-12 panel-title">
                    Previous Employment
                </div>
                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <div class="col-8">
                            <div class="company">Wipro Technologies</div>
                            <div class="tenure">Senior Project Engineer</div>
                        </div>
                        <div class="col-4 text-right">
                            <div class="company ">Bangalore</div>
                            <div class="tenure">May-2016-Present</div>
                        </div>
                        <div class="col-12 panel-sub-content">
                            I along with my colleagues collaborate with on-site leads on a daily basis and work towards fulfilling client requirements. I am responsible to handle front-end technologies with responsive user interface along with maintaining the coding standards, updating
                            the documents as per guidelines in a timely manner.
                        </div>
                    </div>
                </div>

                <div class="col-12 panel-body">
                    <div class="row  panel-content">
                        <div class="col-8">
                            <div class="company">Magna Infotech - Bangalore</div>
                            <div class="tenure">Senior Software Engineer</div>

                        </div>
                        <div class="col-4 text-right">
                            <div class="company">Ahmedabad</div>
                            <div class="tenure"> Oct 2015–Apr 2016</div>
                        </div>
                        <div class="col-12 panel-sub-content">
                            I worked for Adani Enterprise on behalf of IBM India Pvt Ltd on the payroll of Magna Infotech. I dealt directly with the clients, gathered requirements from them, analyzed and developed software accordingly. I was also responsible for maintaining documents,
                            diagrams and templates.
                        </div>
                    </div>
                </div>

                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <div class="col-8">
                            <div class="company">Smile India knowledge Services Pvt. Ltd</div>
                            <div class="tenure">Dotnet Developer</div>

                        </div>
                        <div class="col-4 text-right">
                            <div class="company">Ahmedabad</div>
                            <div class="tenure"> Mar 2015–Oct 2015</div>
                        </div>
                        <div class="col-12 panel-sub-content">
                            I used to gather project requirements. I used to lead and manage the project having 7 team members. I also designed the project architecture. I used to conduct technical sessions to teach Angular and .NET API concepts to team members.
                        </div>
                    </div>
                </div>

                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <div class="col-8">
                            <div class="company">Radixweb Software Services Pvt Ltd</div>
                            <div class="tenure">Jr. Software Engineer</div>

                        </div>
                        <div class="col-4 text-right">
                            <div class="company">Ahmedabad</div>
                            <div class="tenure"> Dec 2013–Nov 2014</div>
                        </div>
                        <div class="col-12 panel-sub-content">
                            I was part of a team working for client projects. I was in learning phase and worked towards completing the tasks in a timely manner.
                        </div>
                    </div>
                </div>


                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <div class="col-8">
                            <div class="company">Amiraj College of Engineering and Technology </div>
                            <div class="tenure">HOD and Assistant Professor</div>

                        </div>
                        <div class="col-4 text-right">
                            <div class="company">Ahmedabad</div>
                            <div class="tenure"> Jul 2012–Sep 2013</div>
                        </div>
                        <div class="col-12 panel-sub-content">
                            Being an HOD, I used to handle Computer Engineering Department. I was coordinator for anti-ragging and discipline committee, time-table committee and sports committee. I used to teach multiple subjects to students and used to be a university paper assessor.
                        </div>
                    </div>
                </div>

                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <div class="col-8">
                            <div class="company">Hasmukh Goswami College of Engineering </div>
                            <div class="tenure">Lecturer</div>

                        </div>
                        <div class="col-4 text-right">
                            <div class="company">Ahmedabad</div>
                            <div class="tenure"> Jul 2010–Jun 2012</div>
                        </div>
                        <div class="col-12 panel-sub-content">
                            I used to teach multiple subjects to students
                        </div>
                    </div>
                </div>
            </div>

            <div class="panel">
                <div class="col-12 panel-title">
                    Education
                </div>
                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <div class="col-8">
                            <div class="college">Govt Engg College Modasa,Gujarat</div>
                            <div class="degree">Bachelor of Engineering (Computer Engineering) - First Class </div>

                        </div>
                        <div class="col-4 text-right">
                            <div class="college">Modasa, Gujarat</div>
                            <div class="degree"> 2005–2009</div>
                        </div>

                    </div>

                    <div class="row panel-content">
                        <div class="col-8">
                            <div class="college">Vishwa Vidyalaya Secondary High school</div>
                            <div class="degree">HSC, First Class </div>
                        </div>
                        <div class="col-4 text-right">
                            <div class="college">Ahmedabad, Gujarat</div>
                            <div class="degree"> 2004–2005</div>
                        </div>

                    </div>

                    <div class="row panel-content">
                        <div class="col-8">
                            <div class="college">Vishwa Vidyalaya Secondary High school</div>
                            <div class="degree">SSC, Distinction </div>
                        </div>
                        <div class="col-4 text-right">
                            <div class="college">Ahmedabad, Gujarat</div>
                            <div class="degree"> 2002–2003</div>
                        </div>
                    </div>

                </div>
            </div>


            <div class="panel">
                <div class="col-12 panel-title">
                    Technical and Personal skills
                </div>
                <div class="col-12 panel-body">
                    <div class="panel-sub-title">Front-End: Technologies/Tools/Platforms (Primary Skill)</div>
                    <div class="row panel-content">
                        <div class="col-12">
                            <div class="row">
                                <div class="col-4">Learning Platform</div>
                                <div class="col-8"> Node.js</div>
                            </div>
                            <div class="row">
                                <div class="col-4">Angular2.0/4.0</div>
                                <div class="col-8">Angular-4/2, Router, Angular-cli, Typescript, Rxjs, angular2-material, ng2-bootstrap etc</div>
                            </div>
                            <div class="row">
                                <div class="col-4">Angular1.x and Modules</div>
                                <div class="col-8">Angular1.x, ui-Router, ng-Router, ui-grid, ui-sortable, ui-bootstrap, angular-upload and many more</div>
                            </div>
                            <div class="row ">
                                <div class="col-4">Scripts</div>
                                <div class="col-8">JavaScript, ECMA-6, JQuery, HTML5, CSS3, SCSS, Bootstrap, toastrJS, LoDashJS, RequireJs, AlaSQL, Google-Map etc</div>
                            </div>
                            <div class="row ">
                                <div class="col-4">Testing Platform</div>
                                <div class="col-8">Jasmine, Karma</div>
                            </div>
                            <div class="row ">
                                <div class="col-4">Build system</div>
                                <div class="col-8">Gulp</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 panel-body">
                    <div class="panel-sub-title">Back-End: Technologies/Tools/Platforms (Secondary Skill)</div>
                    <div class="row panel-content">
                        <div class="col-12">
                            <div class="row ">
                                <div class="col-4">Technology and Tools</div>
                                <div class="col-8"> ASP.NET Web API, Asp.Net MVC-5, CSharp.NET, LINQ, SignalR, ADO.NET, EntityFramework-6+, SSRS</div>
                            </div>
                            <div class="row">
                                <div class="col-4">Server</div>
                                <div class="col-8">IIS
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-4">Source Version Controls</div>
                                <div class="col-8">TFS, SVN, GIT</div>
                            </div>
                            <div class="row ">
                                <div class="col-4">Database</div>
                                <div class="col-8">SQL Server</div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-12 panel-body">
                    <div class="panel-sub-title">Business Oriented/Other Skills.</div>
                    <div class="row panel-content">
                        <div class="col-12">
                            <div class="row">
                                <ul>
                                    <li>
                                        Good presentation skills, works well in a team, ability to lead a team, self learner, ability to think of solution at architect level. Conducted workshops to teach Angular to other peers in previous companies.
                                    </li>
                                    <li>
                                        Eager to learn new technologies. I have been following Angular2 since Alpha version, contributing towards Angular2 on Github(issues) and Stackoverflow. One of the top Angular2 problem solvers.
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <div class="panel">
                <div class="col-12 panel-title">
                    Notable Projects
                </div>
                <div class="col-12 panel-body">
                    <div class="panel-sub-title">US Bank (KYC)</div>
                    <div class="row panel-content">
                        <div class="col-2">Technologies</div>
                        <div class="col-10"> Angular, Bootstrap, HTML5, CSS3, SCSS, .NET(secondary platform)</div>
                        <div class="col-2">Duration</div>
                        <div class="col-10"> May-2016 to Current date</div>
                        <div class="col-12 panel-sub-content">
                            Project is being developed for US Bank. It is a banking domain project having all relevant features. Mainly Angular has been used with Asp.net MVC-5. This a platform for US Bank clients where they have to submit KYC details to do their business with US
                            bank.
                        </div>
                    </div>

                </div>

                <div class="col-12 panel-body">
                    <div class="panel-sub-title">Insurance and Mediclaim Management system for Adani</div>
                    <div class="row panel-content">
                        <div class="col-2">Technologies</div>
                        <div class="col-10"> Angular, .NET Web APIs, Asp.net MVC5, Entity Framework 6+, LINQ, Bootstarp-3+, HTML5, CSS3, MSSQL-2012</div>
                        <div class="col-2">Duration</div>
                        <div class="col-10">Oct 2015 to March 2016
                        </div>
                        <div class="col-12 panel-sub-content">
                            Through this portal, Adani employees intimate about GPA (Group Personal Accident) and GMC (Group Mediclaim) to their respective location HR and Insurance processing cell (IPC). After that, they can claim for the same by submitting different forms which
                            will be sent to HR for the approvals. If HR approves the claim application, it will be sent to Insurance Processing Cell(IPC) for the further approval, If HR disapproves, it will be sent back to Employee. If IPC approves the
                            claim application, it will be sent to TPA else will be sent back to Employee for modification. During this flow, IPC can raise any query and query will be answered by Employee and will be approved by HR and IPC. This flow remains
                            circular until the claim application goes through the verification of HR and IPC. All claim application is being tracked with history. Reports are generated.
                        </div>
                    </div>
                </div>
                <div class="col-12 panel-body">
                    <div class="panel-sub-title">BookMyFood</div>
                    <div class="row panel-content">
                        <div class="col-2">Technologies</div>
                        <div class="col-10">Angular, .NET Web APIs, Asp.net MVC 5, Entity Framework 6+, LINQ, Repository Pattern, Bootstarp-3, HTML5, CSS3, MSSQL-2012 </div>
                        <div class="col-2">Duration</div>
                        <div class="col-10">May 2015 to Oct 2015
                        </div>
                        <div class="col-12 panel-sub-content">
                            A restaurant management website where customer can search restaurant, food, location, place order, see order and give reviews. Restaurant admin can manage restaurant and other entities. Secured web APIs were developed which were used by the website and
                            the mobile app (developed by others)
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel">
                <div class="col-12 panel-title">
                    Interests and extra-curricular activity
                </div>


                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <div class="col-12">
                            <ul>
                                <li>I am fond of learning new languages. I have acquired Basic and advanced level Certification in Spanish Language from Vidyapith Foreign Language Center, Ahmedabad</li>
                                <li>
                                    Attended Faculty Development Programme held by ‘Hasmukh Goswami College of Engineering‘ in 2011- 2012.
                                </li>
                                <li>
                                    Attended various Robotics and cultural events during college time: ENGENIUM’08, TECHNO ASPIRE’08, CAPTURE 2008
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="col-12 panel-title">
                    Personal Details
                </div>
                <div class="col-12 panel-body">
                    <div class="row panel-content">
                        <div class="col-12">


                            <div class="row">
                                <div class="col-4">Contact Number </div>
                                <div class="col-8"> (M)+91-9739372673, (m)+91-8618200639</div>
                            </div>
                            <div class="row">
                                <div class="col-4">Date Of Birth </div>
                                <div class="col-8"> 1st Sept, 1987 </div>
                            </div>
                            <div class="row">
                                <div class="col-4">Languages Known</div>
                                <div class="col-8">English, Hindi, Gujarati, Spanish (basic)</div>
                            </div>
                            <div class="row">
                                <div class="col-4">Hobbies</div>
                                <div class="col-8">Contributing towards Opensource, coding, exploring new technologies, listening music, playing guitar</div>
                            </div>
                            <div class="row">
                                <div class="col-4">Marritial status</div>
                                <div class="col-8">Married</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>



    </div>